<!doctype html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style_actividad.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="backButton">
        <img src="{% static 'icons/Icon Button.svg' %}" alt="atrás">
    </div>
    <div class="tituloActividad">
        <h1>GAP</h1>
    </div>
</header>

<content>
    <div class="actividad">
        <div class="imagenActividad">
            <img src="" alt="">
        </div>
        <div class="infoActividad">
            <div class="infoActividadTop">
                <div class="infoLista">
                    <img src="{% static 'icons/Calendar.svg' %}" alt="calendario">
                    <p>Martes 6 Oct.</p>
                </div>
                <div class="infoLista">
                    <img src="{% static 'icons/Clock.svg' %}" alt="reloj">
                    <p><span class="horas">{{available_inscription.available_date|date:"H:i"}}</span> · <span class="horas">45 min</span></p>
                </div>
                <div class="infoLista">
                    <img src="{% static 'icons/User.svg' %}" alt="monitor">
                    <p>Raúl Rodríguez (Monitor)</p>
                </div>
            </div>
            <div class="infoActividadDescripcion">
                <div class="textoDescripcion">
                    <h3>Normas y recomendaciones</h3>
                </div>
                <ul>
                    <li>Calienta siempre antes de comenzar tu entrenamiento para prevenir lesiones.</li>
                    <li>Limpia el equipo después de usarlo para mantener la higiene para todos.</li>
                    <li>Respeta el espacio de los demás.</li>
                    <li>Mantente hidratado y toma descansos según sea necesario.</li>
                </ul>
            </div>
        </div>
    </div>

</content>

<div class="floatingMenu">
    <div class="menuInfo">
        <p>Plazas</p>
        <p id="status">Reservada</p>
    </div>
    <button>Cancelar reserva</button>
</div>

</body>
</html>