<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header>
        <div class="calendario">
            <div class="dias">
                <table>
                    <tr>
                        <td>L</td>
                    </tr>
                    <tr>
                        <td>12</td>
                    </tr>
                </table>
            </div>
            <div class="dias">
                <table>
                    <tr>
                        <td>M</td>
                    </tr>
                    <tr>
                        <td>13</td>
                    </tr>
                </table>
            </div>
            <div class="dias">
                <table>
                    <tr>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>14</td>
                    </tr>
                </table>
            </div>
            <div class="dias" id="seleccionado">
                <table>
                    <tr>
                        <td>J</td>
                    </tr>
                    <tr>
                        <td>15</td>
                    </tr>
                </table>
            </div>
            <div class="dias">
                <table>
                    <tr>
                        <td>V</td>
                    </tr>
                    <tr>
                        <td>16</td>
                    </tr>
                </table>
            </div>
        </div>
        
    </header>
    <content>
        <section>
            <h2>Reservas</h2>
            <div class="clase">
                <div class="iconoClase">
                    <img src="" alt="">
                </div>
                <div class="infoClase">
                    <ul>
                        <li>GAP</li>
                        <li><span class="horas">19:30</span> · <span class="horas">45 min</span></li>
                        <li><div class="tarjetaEstado">
                            <span class="barra"><span class="barraNumeros">3/10</span></span>
                        </div></li>
                    </ul>
                </div>
            </div>
            
        </section>

        <section>
            <h2>Clases</h2>
            <div class="clase">
                <div class="iconoClase">
                    <img src="" alt="">
                </div>
                <div class="infoClase">
                    <ul>
                        <li>GAP</li>
                        <li><span class="horas">19:30</span> · <span class="horas">45 min</span></li>
                        <li><span class="barra">---</span><span class="barraNumeros">3/10</span></li>
                    </ul>
                </div>
            </div>

            <div class="clase">
                <div class="iconoClase">
                    <img src="" alt="">
                </div>
                <div class="infoClase">
                    <ul>
                        <li>HIIT</li>
                        <li><span class="horas">19:30</span> · <span class="horas">45 min</span></li>
                        <li><span class="barra">---</span><span class="barraNumeros">3/10</span></li>
                    </ul>
                </div>
            </div>

        </section>
    </content>

</body>
</html>