<!doctype html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'icons/Vector (Stroke).svg' %}" alt="gap">
        </div>
        <div class="perfil">
            <img src="{% static 'icons/Avatar.png' %}" alt="gap">
        </div>
    </header>
    
    <content>
        <div class="calendario">
            <div class="dias">
                <p>L</p>
                <p>12</p>
            </div>
            <div class="dias">
                <p>M</p>
                <p>13</p>
            </div>
            <div class="dias">
                <p>X</p>
                <p>14</p>
            </div>
            <div class="dias" id="seleccionado">
                <p>J</p>
                <p>15</p>
            </div>
            <div class="dias">
                <p>V</p>
                <p>16</p>
            </div>
        </div>
        
        <section>
            <h2>Reservas (1/2)</h2>
            {% for not_available_inscription in not_available_inscriptions %}
            <a href="{% url 'inscription_detail' pk=not_available_inscription.pk %}">
            <div class="clase">
                <div class="iconoClase">
                    <img src="{% static 'icons/GAP_thumb.png' %}" alt="gap">
                </div>
                <div class="infoClase">
                    <div class="nombreHoras">
                        <p>{{not_available_inscription.name}}</p>
                        <p><span class="horas">{{not_available_inscription.available_date|date:"H:i"}}</span> · <span class="horas">45 min</span></p>
                    </div>
                    <div class="barra"><progress value="3" max="10"></progress><span class="barraNumeros">3/10</span></div>
                </div>
            </div>
            </a>
            {% endfor %}
        </section>

        <section>
            <h2>Clases</h2>
            {% for available_inscription in available_inscriptions %}
            <div class="clase">
                <div class="iconoClase">
                    <img src="{% static 'icons/HIT_Thumb.png' %}" alt="gap">
                </div>
                <div class="infoClase">
                    <div class="nombreHoras">
                        <p>{{available_inscription.actividad.name}}</p>
                        <p><span class="horas">{{available_inscription.available_date|date:"H:i"}}</span> · <span class="horas">45 min</span></p>
                    </div>
                    <div class="barra"><progress value="3" max="10"></progress><span class="barraNumeros">3/10</span></div>
                </div>
            </div>
            {% endfor %}
        </section>
    </content>

</body>
</html>